body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1em;
  width: 100vw;
}

.post {
  border: 2px solid black;
  padding: 1em;
  margin: 1em;
}

.post-title {
  font-size: 2.2em;
  font-weight: bold;
  padding: 1em;
}

img {
  max-width: 25%;
}

h1 {
  font-family: 'PicNic';
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
}

ul {
  list-style-type: none;
}

@font-face { 
	font-family: 'PicNic';
	src: url('fonts/PicNic-Regular.woff') format('woff'),
		url('fonts/PicNic-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}